* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to left top, #d8268b, #cc4cac, #ba68c6, #a77fd8, #9492e3, #82a2ee, #73b1f5, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.692);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(92, 203, 236);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(211, 14, 73);  /* creates padding around scroll thumb */
  }


header {
    height: 10vh;
    background-color: transparent;
}

nav {
    height: 10vh;
}

.logo {
    width: 200px;
}

.active-page {
    background-color: #cc3265 !important;
    box-shadow: 0 0 25px #cc3265 !important ;
}

button {
    background-color: #cc3b5f !important;
    padding: 10px !important;
    border: 1px solid white !important;
}

button:hover {
    background-color: #bb566f !important;
    box-shadow: 0 0 25px #bb566f !important;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 82vh;
}

.cont-titulo {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: transparent;
}

h1 {
    font-size: 5rem;
    font-family: fantasy;
    font-weight: 0;
    letter-spacing: 4px;
}

.cont-input {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding: 20px;
    height: 8vh;
    font-size: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

#cont-check {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
}

input[type="checkbox"] {
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
    outline: none;
    transition: 0.5s;
    -webkit-appearance: none;
    margin-right: 5px;
    margin-left: 10px;
  }
  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #262626;
    box-sizing: border-box;
    transition: 0.5s;
  }
  input:checked[type="checkbox"]:before {
    border-left: none;
    border-top: none;
    width: 20px;
    border-color: rgb(24, 196, 24);
    transform: rotate(45deg) translate(5px, -10px);
  }

.cont-text {
    display: flex;
    align-items: center;
}
.text {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

#text-footer {
    color: #8a233d !important;
    margin: 0 !important;
}

#paginas {
    color: #ebebeb !important;
    background-color: #72666b60;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px #221e2060;
    height: 55px;
}

#paginas:hover {
    background-color: #cc3265;
    box-shadow: 0 0 25px #cc3265;
}

#paginas:focus {
    background-color: #cc3265 !important;
}

.text:focus {
    box-shadow: 0 0 10px rgb(77, 147, 238);
}
.enviar {
    z-index: 0;
    margin-left: 15px;
    align-items: center;
    background-color: #FCFCFD;
    appearance: none;
    border-width: 0;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    cursor: pointer;
    color: #36395A;
    font-family: "JetBrains Mono",monospace;
    display: inline-flex;
    justify-content: center;
    height: 38px;
    list-style: none;
    line-height: 1;
    padding-left: 16px;
    overflow: hidden;
    position: relative;
    padding-right: 16px;
    text-decoration: none;
    text-align: left;
    user-select: none;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    -webkit-user-select: none;
    will-change: box-shadow,transform;
    white-space: nowrap;
    font-size: 18px;
}


.enviar:focus{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.enviar:hover{
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.enviar:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

div ul {
    display: flex;
    gap: 40px;
    padding-right: 50px;
    font-size: 2rem;
}

#cont-cartas {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 72px;
    padding-bottom: 30px;
    padding: 30px;
}

.carta {
    height: 550px;
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    padding-bottom: 30px;
    box-shadow: 0 0 25px;
    background-color: #e6e6e6da;
}

.tit-carta {
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.5rem;
    color: #c73f61;
}

.cont-carta-img {
    padding-top: 5px;
    width: 400px;
    height: 265px;
    border-radius: 15px;
}

.cont-carta-titulo {
    font-size: 1.8rem;
    padding: 20px;
}

h6 {
    font-size: 1.2rem;
    text-align: center;
}

h5 {
    font-size: 1.5rem;
}

.cont-carta-footer {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1.8rem;
    align-items: center;
}
.price {
    font-size: 1.5rem;
    margin: 0;
}

.link-detail {
    --bg: #db215f;
    --text-color: #fff;
    position: relative;
    width: 130px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #8f0417 0px 7px 2px, #000 0px 8px 5px;
    margin-left: 15px;
    height: 38px;
}

.link-detail:hover {
    opacity: 1;
}
.link-detail:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

footer {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    font-size: 2rem;
    background-color: transparent;
}

#text-footer {
    color: #000 !important;
}

.footer-img {
    display: flex;
    gap: 30px;
}

.img-footer {
    width: 30px
}

.main-details {
    display: flex;
    flex-direction: column;
    min-height: 82vh;
}

.cont-details {
    display: flex;
    background-color: rgba(223, 187, 196, 0);
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 90%;
    margin-top: 40px;
    border-radius: 10px;
}

.detail1 {
    height: 80%;
    box-shadow: 0 0 25px;
    border-radius: 15px;
}

.detail1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.detail2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0 0 25px;
    background-color: rgba(240, 199, 213, 0.479);
    text-align: center;
    padding: 20px;
}

.detail-titulo-carta {
    font-size: 4rem;
    color: rgb(173, 5, 61);
}

.p-detail {
    font-size: 1.4rem;
}

.details-img {
    width: 100%;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 25px;
    border-radius: 20px;
    margin-top: 50px;
    width: 40%;
    height: 37rem;
    padding: 40px;
    background-color: rgba(192, 192, 192, 0.507);
    margin-bottom: 20px;
}

.btn-sbm {
    display: flex;
    height: 50px;
    justify-content: end;
    width: 100%;
}

.form-control{
    resize: none;
}

.btn {
    --bg: #db215f;
    --text-color: #fff;
    position: relative;
    width: 130px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #8f0417 0px 7px 2px, #000 0px 8px 5px;
    margin-left: 15px;
    height: 38px;
}

.btn:hover {
    opacity: 1;
}
.btn:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

#label-cont {
    color: #c73f61 !important;
    font-size: 1.7rem !important;
    font-weight: 600;
}

.btn:hover {
    background-color: #c73f61 !important;
    color: white;
}

.tabla {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 300px;
    border-radius: 15px;
}

table {
    box-shadow: 0 0 15px;
    text-align: center;
    border-radius: 15px;
}

table,
th,
td,
tr {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 0.7rem;
}

td {
    height: 1.7rem;
}
th {
    height: 1.7rem;
}

.tabla table{
    width: 85%;
    margin: 0 auto;
}

table tr {
    background-color: #e0dfdea1;
}

.title-table1 {
    padding: .6rem;
    color: #da1647;
    font-size: 1rem;
    background-color: #9b97988f;
}

#formulario{
    background-color: rgba(255, 255, 255, 0.644);
}


@media screen and (min-width:320px) and (max-width:374px) {
    body {
        overflow-x: hidden;
    }
    
    .text {
        width: 150px;
        height: 30px;
    }

    .carta {
        width: 300px;
        height: 450px;
    }

    .tit-carta {
        font-size: 1.7rem;
    }

    h6{
        font-size: 1rem;
    }

    .cont-carta-img {
        border-radius: 20px;
        width: 100%;
        height: 200px;
    }
    ul {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 500px;
        background-color: rgba(65, 14, 29, 0.952);
        border-radius: 10px;
        box-shadow: 0 0 15px;
        color: black;
    }

    #cont-cartas {
        gap: 25px;
        padding-bottom: 20px;
    }

    #text-footer {
        font-size: 1.2rem;
        margin: 0;
    }

    .img-footer {
        width: 25px;
        margin: 0;
    }

    .cont-input{
        width: 100%;
    }
    .enviar{
        margin-top: 20px;
        width: 70px;
    }
    #formulario {
        margin-top: 20px;
    }

    #cont-check {
        display: flex;
        font-size: .9rem;
        align-items: center;
        width: 100%;
        padding: 0 !important;
    }

    #cont-check div label {
        width: 75px;
    }

    .cont-input {
        height: 300px;
        justify-content: center;
    }

    .titulo-upcoming {
        font-size: 2.3rem;
    }
    
    .form {
        margin-top: 50px;
        width: 85%;
        height: 33rem;
        margin-bottom: 20px;  
        padding: 20px; 
    }
    .form-control{
        width: 100%;
    }

    .btn {
        margin-top: 10px;
        width: 80px;
        height: 40px;
        padding: 0;
    }
    .titulo-stats {
        font-size: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    .cont-details {
        flex-direction: column;
        height: 700px;
        gap: 20px;
    }
    .detail-titulo-carta {
        text-align: center;
        font-size: 2.4rem;
        color: rgb(173, 5, 61);
    }
    .detail1, .detail2 {
        width: 98%;
        height: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin: 0;
    }
    ul li {
        width: 80%;
        margin: 0;
    }

    .tabla {
        width: 320px;
    }
    .link-detail{
        padding: 3px;
        font-size: 1.4rem;
    }
}

@media screen and (min-width:375px) and (max-width:767px) {
    #text-footer {
        font-size: 1.5rem;
    }

    .text {
        width: 250px;
        height: 30px;
    }

    .enviar{
        margin-top: 20px;
        width: 70px;
    }
    #formulario {
        margin-top: 20px;
    }

    #cont-check{
        font-size: 1.2rem;
    }

    .cont-input {
        justify-content: center;
        height: 300px;
    }

    .carta {
        width: 360px;
        height: 560px;
    }

    .cont-carta-img {
        width: 350px;
    }
    
    #cont-cartas {
        gap: 45px;
        padding-bottom: 20px;
    }

    .cont-details {
        flex-direction: column;
        height: 700px;
    }
    .detail-titulo-carta {
        text-align: center;
        font-size: 2.4rem;
        color: rgb(173, 5, 61);
    }
    .detail1, .detail2 {
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .details-img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    ul {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 500px;
        background-color: rgba(65, 14, 29, 0.952);
        border-radius: 10px;
        box-shadow: 0 0 15px;
        color: black;
    }

    ul li {
        width: 80%;
        margin: 0;
    }


    .titulo-upcoming {
        font-size: 3.1rem;
        text-align: center;
    }
    h5 {
        font-size: 1.1rem;
        margin: 0;
    }
    .form {
        margin-top: 50px;
        width: 80%;
        height: 35rem;
        margin-bottom: 20px;   
        padding: 20px;
    }
    .form-control{
        width: 100%;
    }

    table,
    th,
    td,
    tr {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: .8rem;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    ul {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 600px;
        background-color: rgba(65, 14, 29, 0.952);
        border-radius: 10px;
        box-shadow: 0 0 15px;
    }

    ul li {
        width: 80%;
        margin: 0;
    }

}


@media screen and (min-width:768px) and (max-width:1024px) {
    .cont-input {
        height: 250px;
    }

    .cont-input {
        justify-content: center;
    }
    #cont-cartas {
        gap: 15px;
        padding-bottom: 20px;
    }
    
    
    .detail-titulo-carta {
        text-align: center;
        font-size: 3rem;
        color: rgb(173, 5, 61);
    }
    .detail1, .detail2 {
        width: 47%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p-detail {
        text-align: center;
        font-size: 1.8rem;
    }
    h5 {
        font-size: 1.1rem;
        margin: 0;
    }
    .form {
        margin-top: 50px;
        min-width: 600px;
        height: 35rem;
        margin-bottom: 20px;   
        padding: 20px;
    }
    .form-control{
        width: 100%;
    }

    #paginas {
        color: white !important;
        padding: 0 6px 0 6px !important;
        height: 45px !important;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 1.2rem !important;
    }

    table,
    th,
    td,
    tr {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: .8rem;
    }
}

@media screen and (min-width:1025px) and (max-width:1454px) {
    
    .p-detail {
        text-align: center;
        font-size: 1.8rem;
    }
    .detail-titulo-carta {
        text-align: center;
        margin: 0;
        color: rgb(173, 5, 61);
    }

    .cont-details {
        gap: 30px;
    }

    .detail1 {
        width: 50%;
    }
    .detail2 {
        width: 50%;
    }

    .cont-input {
        height: 150px;
    }

    h5 {
        font-size: 1.4rem;
        margin: 0;
    }

    .form {
        margin-top: 50px;
        min-width: 600px;
        height: 35rem;
        margin-bottom: 20px;   
        padding: 25px;
    }
    .form-control{
        width: 98%;
    }

    .cont-input {
        justify-content: center;
    }

    #paginas {
        color: white !important;
        padding: 0 6px 0 6px !important;
        height: 45px !important;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 1.3rem !important;
    }
    table,
    th,
    td,
    tr {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1rem;
    }
}

@media screen and (min-width:1455px) and (max-width:4900px) {
    .tabla {
        padding-top: 30px;
        width: 60vw;
    }

    .detail1, .detail2 {
        width: 41%;
    }

    .title th {
        padding: .4rem;
        color: #c73f61;
        font-size: 1.5rem;
    }

    table,
    th,
    td,
    tr {
        border: 2px solid black;
        border-collapse: collapse;
        font-size: 1.2rem;
    }

    #paginas {
        height: 55px !important;
        
    }
    .cont-input{
        height: 150px;
        justify-content: space-around;
        align-items: center;
    }
    .form {
        margin-top: 50px;
        min-width: 900px;
        height: 35rem;
        margin-bottom: 20px;   
        padding: 20px;
    }
    .form-control{
        width: 100%;
    }
}